.koso{
    text-align: center;
    height: 50px;
   
}
.jeg{
    text-align: center;
    
}
.jpeg{
    text-align: center;
 
}
.body{
    background-color: crimson;
}
.iframe{
   align-items: center;
   width: 1500px;
   height: 500px;
}
